.App {
  text-align: center;
}

.Card {
  margin: 10px;
}

.CardImg {
  opacity: 0.5;
}

.CardTitle {
  cursor: pointer;
}

.dishDetailCard {
  margin-top: 10px;
}

.dishDetailCardBody {
  text-align: left !important;
}