.App {
  text-align: center;
  width: 100%;
}

/* .MenuItem {
    display: inline-block !important;
  }
 */

.Card {
  margin: 10px;
}


.CardImg {
  opacity: 0.5;
}

.CardTitle {
  cursor: pointer;
}

.dishDetailCard {
  margin-top: 10px;
}

.dishDetailCardBody {
  text-align: left !important;
}

.App {
  text-align: center;
}

.footer {
  background-color: #D1C4E9;
  margin: 0px auto;
  padding-top: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  min-height: 400px;
}